@tailwind base;
@tailwind components;
@tailwind utilities;

.authcontent {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-image: url('C:/Users/User/Desktop/WebDevProject/frontend/src/assets/asd.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }